<h1>Dashboard Page</h1>

    <form id="post-form">
        <label for="post">New Post</label>
        <input id="post-title" required>
        <textarea id="post-content"> </textarea>
        <button type="submit">Post</button>
    </form>
<script src="./js/add-post.js"></script>
