  <h2>Login</h2>
    <form id="login-form">
        <label for="login-username">Username:</label>
        <input type="username" id="login-username" name="login-username" required>
        
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="login-password" required>
        
        <button type="submit">Login</button>
    </form>

    <h1>SignUp</h1>
    <form id="signup-form">
        <label for="signup-username">Username:</label>
        <input type="text" id="signup-username" name="signup-username" required>
        
        <label for="signup-password">Password:</label>
        <input type="password" id="signup-password" name="signup-password" required>
        
        <button type="submit">SignUp</button>
    </form>

<script src="/js/login.js"></script>