<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <p class="display-4">Login</p>
            <form id="login-form">
                <div class="mb-3">
                    <label for="login-username" class="form-label">Username</label>
                    <input type="username" class="form-control" id="login-username" name="login-username" required>
                </div>
                <div class="mb-3">
                    <label for="login-password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="login-password" name="login-password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p class="display-4">Sign Up</p>
            <form id="signup-form">
                <div class="mb-3">
                    <label for="signup-username" class="form-label">Username</label>
                    <input type="username" class="form-control" id="signup-username" name="signup-username" required>
                </div>
                <div class="mb-3">
                    <label for="signup-password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="signup-password" name="signup-password" required>
                </div>
                <button type="submit" class="btn btn-primary">Signup</button>
            </form>
            <script src="/js/login.js"></script>
        </div>
    </div>
</div>