main{
    margin-left: 3%
}

.card{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}

a{
    /* color:white; */
    text-decoration: none;
}
#post-form{
    margin-bottom: .5%;
    margin-left: 1%;
    padding-bottom: .5%
}

#comment-form{
    margin-bottom: .5%;
    margin-left: 1%;
    padding-bottom: .5%
}

