main{
    margin:1% 3%
}

a{
    /* color:white; */
    text-decoration: none;
}

.card{
    margin: 1% 0
}
#post-form{
    margin:1%;
    padding-bottom: .5%;
    max-width: 30rem;
}

#comment-form{
    margin:1%;
    padding-bottom: .5%;
    max-width: 30rem;
}

#login-form, #signup-form{
    max-width: 20rem;
}
